table{
    width: 100%;
}

caption{
    color: darkblue;
    font-family: "trocchi", serif;
    font-size: 45px;
    line-height: 70px;
}
th{
    color: #f1faee;
    background-color: #1d3557;
}    

/* Renglones pares */
tr:nth-child(even){
    background-color: #f1faee;
}

/* Renglones impares */
tr:nth-child(odd){
    background-color: #a8dadc;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    /* border-spacing: 10px; */
    text-align: center;
    padding: 10px;
}